body {
  font-family: sans-serif;
  padding: 16px;
  background: #121212;
  color: #f0f0f0;
  font-size: 18px;
  margin: 0;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 540px;
  margin: auto;
  padding: 0 10px;
  overflow-x: hidden;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group input {
  width: 49%;
  padding: 12px;
  margin-bottom: 14px;
  font-size: 18px;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #222;
  color: white;
}

.input-group input:last-child {
  margin-right: 0;
}

button {
  padding: 12px 40px;
  font-size: 18px;
  margin: 50px auto 20px auto;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

#resultBox, #meboshiBox {
  font-size: 20px;
  padding: 12px;
  margin-top: 16px;
  background: #222;
  border-radius: 6px;
  white-space: pre-wrap;
  line-height: 1.6;
  overflow-wrap: break-word;
  word-break: break-word;
}

.hash-btn {
  margin-left: 10px;
  padding: 6px 12px;
  font-size: 16px;
  background-color: #444;
  color: #fff;
  border: 1px solid #666;
  border-radius: 4px;
  cursor: pointer;
}
.hash-btn:hover {
  background-color: #666;
}

.reset-btn {
  background-color: #dc3545;
  color: white;
  margin-top: 140px;
}
.reset-btn:hover {
  background-color: #b52a38;
}

#toast {
  background: #28a745; /* 緑に変更 */
  color: #fff;
  padding: 6px 16px;
  border-radius: 8px;
  font-size: .9rem;
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  box-shadow: 0 0 6px #0008;
  display: none;
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
    text-align: center;
  }
}
